#ignore the .class files in the build path

classes/com/github/narms/lambda/*.class
classes/com/github/narms/lambda/frontend/*.class

#ignore my bugfixing test file

com/github/narms/lambda/Test.java
